extends layout

block head
  link(rel='stylesheet', href='/stylesheets/heatmaps.css')
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization")
  script(src="/javascripts/googleheatmapobject.js")
  script(src="/javascripts/heatmap.js")   

block content
  #panel
    button(onclick='toggleHeatmap()') Toggle Heatmap
    button(onclick='changeGradient()') Change Gradient
    button(onclick='changeRadius()') Change Radius
    button(onclick='changeOpacity()') Change Opacity
    br
    p Address: 
      input(type='text' name='address')
    p Radius:
      input(text='text' name='radius')

    button(onclick='runQuery()') Run Query

  #map-canvas
