extends layout

block head 

block content

  .container
    .jumbotron(id="map" style="height:700px")
      h2 This page will allow you to update the database that I store the housing info in.  Just click the button below, because I know you want to.
      button.btn.btn-default(type='button', aria-label='Left Align')
        span.glyphicon.glyphicon-align-left(aria-hidden='true')
      button.btn.btn-default.btn-lg(type='button')
        span.glyphicon.glyphicon-star(aria-hidden='true')
        |  Star
        





